
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ical.js/1.4.0/ical.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/@fullcalendar/icalendar@6.1.19/index.global.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            timeZone: 'PDT',
            themeSystem: 'bootstrap5',
            headerToolbar: {
                left: 'prev,next',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,listMonth'
            },
            initialView: 'listMonth',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            dayMaxEvents: true, // allow "more" link when too many events
            events: { 
                url: 'assets/ical/download.ics', 
                format: 'ics'
            }
        });
        calendar.render();
    });
</script>
<div style="text-align: center;">
    <div style="max-width: 55%; margin: auto;">
        <div id='calendar' class="calendar"></div>
    </div>
</div>