---
title: Welcome
url: http://localhost:8080
navigationOptions:
  listClass: "nav-list"
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storygames LA - {{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/bundle.css">
    <link rel="stylesheet" href="/assets/styles/navbar-style.css">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
  </head>
  <body>
    <nav>
      <div class="logo">
        <img alt="" eleventy:widths="80,80" id="logo" src="/assets/images/SGLA_logo_only_highres.png">  
        <h2>Storygames LA</h2>
      </div>

      {{ collections.all | eleventyNavigation | eleventyNavigationToHtml({ listClass: "nav-links"}) | safe }}

      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>
    <script async src="/assets/scripts/navbar.js"></script>
    <div class="main" id="main">{{ content | safe }}</div>
  </body>
</html>
