---
permalink: /people/
layout: layout.njk
title: People
description: Volunteers of Story Games LA
---
<h2>Our Volunteers</h2>
<ul>
{%- for person in people -%}
  <li><a href="/people-pages/{{ person.name }}">{{ person.name }}</a></li>
{%- endfor -%}
</ul>