---
pagination:
    data: members.people
    size: 1
    alias: members.people
permalink: /people-pages/{{ members.people.person.name | slugify }}/
layout: layout.njk
title: People-Pages
description: Volunteers of Story Games LA
---

<h2>{{ members.people.person.name }}</h2>
<hr>
<p>{{ members.people.person.bio }}</p>