---
pagination:
    data: groups.teams
    size: 1
    alias: groups.teams
permalink: /team-pages/{{ groups.teams.team.name | slugify }}/
layout: layout.njk
title: Team-Pages
description: Teams of Story Games LA
---

{%- set teams = groups.teams -%}
<h2>{{ teams.team.name | capitalize }}</h2>
<hr>
<p>{{ teams.team.description | renderContent("md") | safe }}</p>

<h3>Members</h3>
<ul>
{%- for member in members.people | sort(false, false, "person.name" ) -%}
    {% if teams.team.name in member.person.teams %}
        <li><a href="/people-pages/{{ member.person.name | slugify }}">{{ member.person.name }}</a></li>
    {% endif %}
{%- endfor -%}
</ul>   