---
layout: null
title: config.yml
permalink: /admin/config.yml
tags: admin
eleventyExludeFromCollections: true
---
{% raw %}
backend:
  name: github
  repo: ghellings/storygamesla.com 
  branch: main
  commit_messages:
    create: Create {{collection}} “{{slug}}”
    update: Update {{collection}} “{{slug}}”
    delete: Delete {{collection}} “{{slug}}”
    uploadMedia: Upload “{{path}}”
    deleteMedia: Delete “{{path}}”
    openAuthoring: '{{message}}'

publish_mode: editorial_workflow
media_folder: "src/assets/images"
public_folder: "/images/uploads"
site_url: "https://storygamesla.com"
display_url: "https://storygamesla.com"

collections:
  - name: "pages"
    label: "Pages"
    folder: "src/pages"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - name: "events"
    label: "Events"
    folder: "src/events"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Location", name: "location", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Data"
    name: "data"
    files:
      - name: "members"
        label: "members"
        file: "src/data/members.json"
        fields:
          - { name: "people", widget: list, fields: [
              { name: "person",  widget: "object", fields: [
                { label: "Name", name: "name", widget: "string" },
                { label: "Bio", name: "bio", widget: "text" },
                { label: "Teams", name: "teams", widget: "list" },
                { label: "Pronouns", name: "pronouns", widet: "list" }
              ] }
            ] }      
      - name: "groups"
        label: "groups" 
        file: "src/data/groups.json"
        fields:
          - { name: "teams", widget: list, fields: [
              { name: "team", widget: "object", fields: [
                { label: "Name", name: "name", widget: "string" },
                { label: "Description", name: "description", widget: "text" }
              ] }
            ] }
{% endraw %}  