---
permalink: /teams/
layout: layout.njk
eleventyNavigation:
  key: Teams
title: Teams
description: This is the Safety team
---
<h2>Our Teams</h2>
<ul>
{%- for group in groups.teams -%}
  <li><a href="/team-pages/{{ group.team.name }}">{{ group.team.name | capitalize  }}</a></li>
{%- endfor -%}
</ul>
