---
permalink: /teams/
layout: layout.njk
eleventyNavigation:
  key: Teams
title: Teams
description: This is the Safety team
---
<h2>Our Teams</h2>
<ul>
{%- for team in collections.teams -%}
  <li><a href="/teams/{{ team.data.name }}">{{ team.data.name }}</a></li>
{%- endfor -%}
</ul>
