---
permalink: /teams/organizers/
layout: layout.njk
name: Organizers
description: The Organizers team is responsible for overall coordination and planning of Story Games LA events and initiatives.
tags: teams
---
<h2>Members of the Safety Team</h2
<ul>
{%- for person in people -%}
  {%- if "organizers" in person.teams -%}
    <li><a href="/people-pages/{{ person.name }}">{{ person.name }}</a></li>
  {%- endif -%}
{%- endfor -%}
</ul>
