---
pagination:
    data: groups.teams
    size: 1
    alias: groups.teams
permalink: /team-pages/{{ groups.teams.team.name | slugify }}/
layout: layout.njk
title: Team-Pages
description: Teams of Story Games LA
---

<h2>{{ groups.teams.team.name }}</h2>
<hr>
<p>{{ groups.teams.team.description }}</p>

<h3>Members</h3>
<ul>
{%- for member in members.people | sort(false,false,false, person.name ) -%}
    {% if groups.teams.team.name in member.person.teams %}
        <li><a href="/people-pages/{{ member.person.name | slugify }}">{{ member.person.name }}</a></li>
    {% endif %}
{%- endfor -%}
</ul>   